<%- include('../admin/includes/head.ejs') %>

    <div class="row">
        <div class="col md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">In Stock</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(products.length > 0) {%>
                        <% for(let product of products) {%>
                            <tr>
                                <th scope="row">1</th>
                                <td>
                                    <%= product.name%>
                                </td>
                                <td>Rs.
                                    <%= product.price%>
                                </td>
                                <td>
                                    <% if (product.in_stock == 1) {%>
                                        Yes
                                        <%} else {%>
                                            No
                                            <%}%>
                                </td>
                                <td>
                                    <a href="admin/edit_product/<%= product.id%>">Edit</a>
                                </td>
                            </tr>
                            <% } %>
                                <%} else {%>
                                    <tr>
                                        <td colspan="5">No Products!</td>
                                    </tr>
                                    <%}%>
                </tbody>
            </table>

        </div>
    </div>
    <%- include('../admin/includes/end.ejs') %>